.category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
}

.title-category {
    font-size: 35px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 1000px) {

    .category-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

}