* {
  box-sizing: border-box;
}

body {
  margin: auto;
  background-color: rgb(25, 25, 25);
  width: 95%;
  margin-top: 20px; 
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, p, a {
  color: white;
}